<a href="https://colab.research.google.com/github/Chaitanya-Shikhare/Football-Penalty-Prediction/blob/main/Penalty_clean_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("categorical_data.csv" ,encoding='latin-1')

In [3]:
df.head()

  player_team_name                     player_name  ...   stadium direction
0        Barcelona        Luis Alberto Suárez Díaz  ...  Camp Nou        RL
1        Barcelona        Luis Alberto Suárez Díaz  ...  Camp Nou        LL
2        Barcelona  Lionel Andrés Messi Cuccittini  ...  Camp Nou       NaN
3         Valencia             Daniel Parejo Muñoz  ...  Camp Nou        LH
4        Barcelona  Lionel Andrés Messi Cuccittini  ...  Camp Nou        CL

[5 rows x 11 columns]

In [4]:
df.describe

<bound method NDFrame.describe of     player_team_name  ... direction
0          Barcelona  ...        RL
1          Barcelona  ...        LL
2          Barcelona  ...       NaN
3           Valencia  ...        LH
4          Barcelona  ...        CL
..               ...  ...       ...
347        Barcelona  ...        LH
348        Barcelona  ...        CH
349        Barcelona  ...        CH
350       Las Palmas  ...       NaN
351         Valencia  ...        RL

[352 rows x 11 columns]>

In [5]:
df.isnull().sum()

player_team_name      0
player_name           0
player_position       0
foot                  0
technique             0
keeper_name           0
keeper_team_name      0
competition_name      2
competition_stage     2
stadium              50
direction            59
dtype: int64

In [6]:
df["competition_name"] = df["competition_name"].fillna("unknown")
df["competition_stage"] = df["competition_stage"].fillna("unknown")
df["stadium"] = df["stadium"].fillna("unknown")
df["direction"] = df["direction"].fillna("unknown")
df.isnull().sum()

player_team_name     0
player_name          0
player_position      0
foot                 0
technique            0
keeper_name          0
keeper_team_name     0
competition_name     0
competition_stage    0
stadium              0
direction            0
dtype: int64

In [7]:
df

    player_team_name  ... direction
0          Barcelona  ...        RL
1          Barcelona  ...        LL
2          Barcelona  ...   unknown
3           Valencia  ...        LH
4          Barcelona  ...        CL
..               ...  ...       ...
347        Barcelona  ...        LH
348        Barcelona  ...        CH
349        Barcelona  ...        CH
350       Las Palmas  ...   unknown
351         Valencia  ...        RL

[352 rows x 11 columns]

In [8]:
df_new =df.copy()

In [9]:
df_new

    player_team_name  ... direction
0          Barcelona  ...        RL
1          Barcelona  ...        LL
2          Barcelona  ...   unknown
3           Valencia  ...        LH
4          Barcelona  ...        CL
..               ...  ...       ...
347        Barcelona  ...        LH
348        Barcelona  ...        CH
349        Barcelona  ...        CH
350       Las Palmas  ...   unknown
351         Valencia  ...        RL

[352 rows x 11 columns]

In [10]:
df_new.columns

Index(['player_team_name', 'player_name', 'player_position', 'foot',
       'technique', 'keeper_name', 'keeper_team_name', 'competition_name',
       'competition_stage', 'stadium', 'direction'],
      dtype='object')

In [11]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [12]:
df_new.player_team_name = le.fit_transform(df_new.player_team_name)
df_new.player_name = le.fit_transform(df_new.player_name)
df_new.player_position = le.fit_transform(df_new.player_position)
df_new.foot = le.fit_transform(df_new.foot)
df_new.technique = le.fit_transform(df_new.technique)
df_new.keeper_name = le.fit_transform(df_new.keeper_name)
df_new.keeper_team_name = le.fit_transform(df_new.keeper_team_name)
df_new.competition_name = le.fit_transform(df_new.competition_name)
df_new.competition_stage = le.fit_transform(df_new.competition_stage)
df_new.stadium = le.fit_transform(df_new.stadium)
df_new.direction = le.fit_transform(df_new.direction)
df_new

     player_team_name  player_name  ...  stadium  direction
0                   9          107  ...        5          8
1                   9          107  ...        5          5
2                   9          104  ...        5          9
3                  79           31  ...        5          4
4                   9          104  ...        5          2
..                ...          ...  ...      ...        ...
347                 9          104  ...        5          4
348                 9          104  ...        5          1
349                 9          104  ...       24          1
350                43           84  ...       26          9
351                79           31  ...        5          8

[352 rows x 11 columns]

In [13]:
df_new.head()

   player_team_name  player_name  ...  stadium  direction
0                 9          107  ...        5          8
1                 9          107  ...        5          5
2                 9          104  ...        5          9
3                79           31  ...        5          4
4                 9          104  ...        5          2

[5 rows x 11 columns]

In [14]:
df_new.dtypes

player_team_name     int64
player_name          int64
player_position      int64
foot                 int64
technique            int64
keeper_name          int64
keeper_team_name     int64
competition_name     int64
competition_stage    int64
stadium              int64
direction            int64
dtype: object

In [15]:
df_new.describe()

       player_team_name  player_name  ...     stadium   direction
count        352.000000   352.000000  ...  352.000000  352.000000
mean          30.937500    96.500000  ...   35.142045    5.781250
std           24.675248    45.697631  ...   27.642142    2.563249
min            0.000000     0.000000  ...    0.000000    0.000000
25%            9.000000    62.750000  ...    5.000000    4.000000
50%           24.000000   104.000000  ...   34.500000    5.000000
75%           54.250000   133.250000  ...   64.000000    8.000000
max           82.000000   176.000000  ...   75.000000    9.000000

[8 rows x 11 columns]

In [16]:
df_new.to_csv("Label_encoded_Penalty.csv")